/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap");

* {
  font-family: 'Inter', sans-serif;
} */

.mainBgIMG {
  background-image: url('./images/homeBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}
.moveable-control.moveable-origin {
    border-color: transparent !important;
    background: transparent !important;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    pointer-events: none;
}
/* .moveable-control-box {
  position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    top: 0;
    z-index: 3000;
    --moveable-color: #ffffff !important;
    --zoom: 1;
    --zoompx: 1px;
    --moveable-line-padding: 0;
    --moveable-control-padding: 0;
    will-change: transform;
    outline: 1px solid transparent;
} */
